.hero-banner {
  background-color: #2563eb; 
  background-image: url("");
  background-size: cover;
  color: white;
  padding: 5rem 1rem;
  border-radius: 1.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }
}

.hero-subtitle {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .hero-subtitle {
    font-size: 1.25rem;
  }
}

.search-container {
  max-width: 36rem;
  margin: 0 auto;
  position: relative
}

.search-input {
  width: 100%;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  color: #1f2937; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af; 
}


.marqueetage{
  color: rgb(211, 200, 38);
  font-size: 30px;
  font-weight: 500
}